
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}
* {
  font-family: Source Code Pro, monospace;
}
.remove-scrollbar {
  -ms-overflow-style: none;
  /* IE + Edge */
  scrollbar-width: none;
  /* Firefox */
}

html {
  scroll-behavior: smooth !important;
 
}


p {
  @apply text-black dark:text-slate-300
}

h1{
  @apply text-3xl dark:text-white text-black
}

h2 {
  @apply text-2xl font-bold dark:text-white text-black
} 
h3 {
  @apply text-xl font-bold dark:text-white text-black
}
h4 {
  @apply text-lg font-bold dark:text-white text-black
}

main {
  @apply dark:bg-black dark:text-white text-black bg-[#F9FAFB] min-h-screen transition-colors duration-500
}

#imgProjects{
  @apply border-4 rounded-xl border-neutral-200/50 dark:border-slate-700
}


.secondary-bg-color {
  @apply dark:bg-[#0D1117] bg-[#EDEFF2] transition-colors duration-500
}

.animationIn {
  animation: transitionIn 2s ;
}

.svgAnimationIn {
  animation-name: svgIn;
    animation-duration: 2s;
    animation-delay: 0, 1s;
}

.meIconTransition {
  animation: meIcon 1s 2s backwards;
  
    
}

.pulseAnimation {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


@keyframes pulse {

  0%
   {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes svgIn {
  from {
    opacity: 0;
    transform: translateY(200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

@keyframes transitionIn {
  0% {
      transform: translateY(90px); }
  50% {
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0);
  }
  
}

@keyframes meIcon {
  0% {
    transform: translateY(-200px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }

}

/* body {
  margin: 0;
  padding: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* #page * {
  @apply transition-colors duration-100
} */

/* .MuiDialogContent-root {
  @apply dark:bg-lime-500 bg-[#0D1117] text-white
} */
/* 
.MuiDialogActions-root {
  @apply bg-[#161B22]
} */

